.PeriodoBuilder{
    width:60%;
    height: 100%;
    margin: 5% 20%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    background-color: lightblue;
    color: black;
}

.Info{
    font-size: smaller;
    text-align: left;
}