.Comentario{
    background-color: white;
    color: black;
    text-align: left;
    font-weight: normal;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #eee;
    margin: 6px 2px
}

.Nome{
    font-weight:bold;
    font-size: smaller;
}

