.Logo{
    background-color:white;
    height: 55px;
}

.Logo img{
    display: block;
    max-width:100%;
    max-height:100%;    
    object-fit: cover;
    align-self: left;
}

.Logo2{
    background-color:white;
    height: 100px;
}

.Logo2 img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    max-height:100%;    
    object-fit: cover;
}