.Logo{
    background-color:white;
    height: 54px;
    border-radius: 10px;
}

.Logo img{
    display: block;
    max-width:100%;
    max-height: 100%;    
    object-fit: cover;
    align-self: left;
}

.Logo2{
    background-color: white;
    height: 100px;
    border-radius: 10px;
}

.Logo2 img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    max-height:100%;    
    object-fit: cover;
}