.DisciplinaCard{
    min-width: 250px;
    width:15%;
    margin: 16px 2px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    float: left;
    font-weight: normal;
    background-color: white;
}

.DisciplinaCard:hover{
    background-color: red;
    color:mintcream;
}

.DisciplinaCard2{
    min-width: 250px;
    width:15%;
    margin: 16px 2px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    float: left;
    font-weight: normal;
    background-color: white;
}

.DisciplinaCard2:hover{
    background-color: orange;
    color:mintcream;
}

.DisciplinaCard3{
    min-width: 250px;
    width:15%;
    margin: 16px 2px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    float: left;
    font-weight: normal;
    background-color: white;
}

.DisciplinaCard3:hover{
    background-color: lightseagreen;
    color:mintcream;
}

.DisciplinaCard4{
    min-width: 250px;
    width:15%;
    margin: 16px 2px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
    float: left;
    font-weight: normal;
    background-color: white;
}

.DisciplinaCard4:hover{
    background-color: lightgreen;
    color:mintcream;
}

.Button{
    float: right;;
    background-color: white;
    box-shadow: white;
    border: 1px solid black;
    font-weight: bold;
    
}

.Button:hover{
    background-color: greenyellow;
    color: white;
    border: 1px solid white;
    
}

.Link, Link:visited, Link:hover, Link:active{
    text-decoration: underline;
    color:inherit;
    text-align: center;
}