.DisciplinaCard{
    width:50%;
    margin: 16px auto;
    border: 1px dolid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}


.LinhaDivisora{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.DisciplinaCard:hover{
    background-color: lightgreen;
    color:mintcream;
}



