.Box{
    background-color: white;
    color: black;
    text-align: left;
    font-weight: normal;
    padding: 16px;
    border-radius: 10px;
}

.ButtonParagraph{
    text-align: right;
}
.Button{
    background-color: white;
    color: lightblue;
    font-weight: bold;
}

.Title{
    color: black;
}