.Breakpoint{
    width: 100%;
    border: 1px dolid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;
    font-weight: bold;
    background-color: lightgrey; 
}