.Breakpoint{
    width: 100%;
    border: 1px dolid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 10px; 
}

.DisciplinaCards{
    width: 100%;
    margin: 0;
    overflow:hidden;
}

.SideBar{
    top: 100px;
    left: 85%;
    flex-direction: column;
    position: fixed;
    color: black;
    background-color: white;
}

.Button{
    background-color:white;
    border: 1px solid black;
    min-width: 20px;
}